## This is a kickstart made for an automated install of centos7 in virtualbox. The drives are setup for virtualbox ##

# Kickstart for ${hostname}
install

# System authorization information
auth --enableshadow --passalgo=sha512

# Use graphical install
graphical

# Run the Setup Agent on first boot
firstboot --enable

# centos7 mirror
url --url http://mirror.centos.org/centos/7/os/x86_64/

# Add the EPEL Repo
repo --name=epel --baseurl=http://download.fedoraproject.org/pub/epel/7/x86_64/

# Enable some services
services --enabled=network

#Language Support
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'

#Setup Networking
network --onboot yes --bootproto=dhcp --device eth0 --ipv6=auto --activate 
network --hostname centos7-vbox-ks

# Set temp Root Password (basically no security) 
rootpw --iscrypted $6$QUMmL9NEYSODFo/F$VA3U8AsUYvTMqaJ141E7xXGCs7v16QWbchMq8MZZauAUcEvYql0tlcqVbSexwDnUYMJdb5lWPKfSR0vHs8YJY1

# System timezone
timezone America/New_York --isUtc

# Create an admin user
user --groups=wheel --name=cmorris --password=$6$O1Iu90XfnPORb8dW$szuE3B1hkXTeUELL796aPxCNQd9ievO6REHmxv19jPlKgG54e/w//0KfwHrVuLKcTc95DDYmOd4se8YSnp8Ua1 --iscrypted --gecos="cmorris"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm

# Partition clearing information
clearpart --all --initlabel --drives=vda

%packages
@core
epel-release
vim
screen
net-tools
htop
git
rsync
wget
curl
nfs-utils
openssh-server
xorg-x11-server-common
xorg-x11-utils
xorg-x11-server-Xorg
xorg-x11-server-utils
xorg-x11-xauth
xorg-x11-drv-vmmouse

kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

#set selinux mode
selinux --permissive

#Setup firewall. By default block all but ssh.
firewall --enabled --port=22:tcp

#Set Timezone
timezone --utc America/New_York

# Stuff to run before kickstart begins
%pre
%end

# Stuff to run after kickstart completes
%post
# Update machine
yum --nogpgcheck -y update
# Add my ssh keys 
mkdir -p /home/cmorris/.ssh
chmod 700 /home/cmorris/.ssh
chown cmorris:cmorris /home/cmorris/.ssh
wget https://launchpad.net/~cumorris/+sshkeys -O /home/cmorris/.ssh/authorized_keys
chmod 755 /home/cmorris/.ssh/authorized_keys
chown cmorris:cmorris /home/cmorris/.ssh/authorized_keys
# Add my .bashrc 
wget https://raw.githubusercontent.com/camarox53/dotfiles/master/.bashrc -O /home/cmorris/.bashrc
chmod 644 /home/cmorris/.bashrc
chown cmorris:cmorris /home/cmorris/.bashrc
yum --enablerepo=epel -y groups install "Xfce" 
systemctl set-default graphical.target
%end
