#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

#mirrors
url --url http://kdeforge2.unl.edu/mirrors/fedora/linux/development/24/Everything/x86_64/os/

# Add EPEL Repo
repo --name=epel --baseurl=http://download.fedoraproject.org/pub/epel/7/x86_64/

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=fedora24-ks
# Root password
rootpw --iscrypted $6$XbocMKpy8UbEDhbj$kBHqYxjn/b65/PECBSQDjuI.eu1vdx6Mjfaj6KGrckgnvQdcIQGt3C/29rMamZuPzoYRHW56eQCa0gXPYNj.9.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=cmorris --password=$6$wAxvZsynhM4G8prK$0BcoQDgadggpl77nXWw1NQhSnJAG9ASpLieNEI83hVVqrWyye1jQMsT4m1VOsSGHCnOOypiHIDcofQi5hDFqS/ --iscrypted --gecos="cmorris"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

#set selinux mode
selinux --permissive

%packages
@^workstation-product-environment
chrony
epel-release
vim
screen
net-tools
htop
git
rsync
wget
curl
nfs-utils
openssh-server
xorg-x11-server-common
xorg-x11-utils
xorg-x11-server-Xorg
xorg-x11-server-utils
xorg-x11-xauth
xorg-x11-drv-vmmouse
xfreerdp
kexec-tools

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end

%post
# Update machine
yum --nogpgcheck -y update
# Add my ssh keys 
mkdir -p /home/cmorris/.ssh
chmod 700 /home/cmorris/.ssh
chown cmorris:cmorris /home/cmorris/.ssh
wget https://launchpad.net/~cumorris/+sshkeys -O /home/cmorris/.ssh/authorized_keys
chmod 755 /home/cmorris/.ssh/authorized_keys
chown cmorris:cmorris /home/cmorris/.ssh/authorized_keys
# Add my .bashrc 
wget https://raw.githubusercontent.com/camarox53/dotfiles/master/.bashrc -O /home/cmorris/.bashrc
chmod 644 /home/cmorris/.bashrc
chown cmorris:cmorris /home/cmorris/.bashrc
# Add my .vimrc
wget https://raw.githubusercontent.com/camarox53/dotfiles/master/.bashrc -O /home/cmorris/.vimrc
chmod 644 /home/cmorris/.vimrc
chown cmorris:cmorris /home/cmorris/.vimrc
# Install GNOME and make it graphical 
yum --enablerepo=epel -y groups install "GNOME Desktop" 
systemctl set-default graphical.target
%end

