#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=idslab

# Root password
rootpw --iscrypted $6$9uPwObPZOAHytEzx$pDV/x.NwJPIOgjysqmVDjTX1XWcBywEKOWBb3ztbUqOs.pUM5w13fRM.WE5NrJ.tQvbV2v/IfGXSnvTEv4ieX0
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=cumorris --password=$6$ftCqEAftAnq7Qtga$xt.uIsagdXK68bm/xRnj9QGyyIUdpOW10pHJu/MmcJkJ4B93ATRBl/tBDVFNHRMeNXYbsNyl1h3iPoWtDsn0U. --iscrypted --gecos="cumorris"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools
epel-release
net-tools
screen
vim
git


%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
