
# Kickstart for ${hostname}
install

# System authorization information
auth --enableshadow --passalgo=sha512

# Use graphical install
graphical

# Run the Setup Agent on first boot
firstboot --enable

# centos7 mirror
url --url http://mirror.centos.org/centos/7/os/x86_64/

# Add the EPEL Repo
repo --name=epel --baseurl=http://download.fedoraproject.org/pub/epel/7/x86_64/

# Enable some services
services --enabled=network

#Language Support
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'

#Setup Networking
network --onboot yes --bootproto=dhcp --device eth0 --ipv6=auto --activate 
network --hostname lcsee-node-ks

# Set temp Root Password (basically no security) 
rootpw --iscrypted $6$QUMmL9NEYSODFo/F$VA3U8AsUYvTMqaJ141E7xXGCs7v16QWbchMq8MZZauAUcEvYql0tlcqVbSexwDnUYMJdb5lWPKfSR0vHs8YJY1

# System timezone
timezone America/New_York --isUtc

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm

# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@core
epel-release
vim
screen
net-tools
htop
git
rsync
wget
curl
nfs-utils
openssh-server
kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

#set selinux mode
selinux --permissive

#Setup firewall. By default block all but ssh.
firewall --enabled --port=22:tcp

#Set Timezone
timezone --utc America/New_York

# Stuff to run before kickstart begins
%pre
%end

# Stuff to run after kickstart completes
%post
# Update machine
yum --nogpgcheck -y update
%end
